<header id="header" class="lazy-load">
        <nav class="navbar navbar-default navbar-fixed-top menu">
          <div class="container">
  
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index-register.html"><img src="../assets/images/1newlogo.png" alt="logo" /></a>
            </div>
  
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right main-menu">
                <li class="dropdown"><a href="/" >Home</a></li>
                <li class="dropdown">
                  <a href="" routerLink="/user-profile" >User Profile</a>
                </li>
                <li class="dropdown"><a href="" routerLink="/landing-page">Timeline</a></li>
                <li class="dropdown"><button type="button" class="btn btn-primary logincss" routerLink="/member-login">Ward Member Login</button></li>
                <li class="dropdown">
                  <button class="btn btn-link dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><i class="fa fa-globe notificationbtn" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-change" role="menu" aria-labelledby="menu1">
                          <li role="presentation">
                            <div class="row">
                                <div class="col-md-1"></div>
                              <div class="col-md-2">
                                <img src="../../assets/images/user-3.jpg" height="50px" width="50px" class="img-circle" alt="Cinque Terre">
                              </div>
                              <div class="col-md-9">
                                <p><a role="menuitem" tabindex="-1" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet</a></p> 
                              </div>
                              </div>
                              </li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>    
                        </ul>
                </li>
                <li class="dropdown">
                  <button class="btn btn-link dropdown-toggle" style="padding: 6px 6px;" id="menu1" type="button" data-toggle="dropdown"><i class="fa fa-power-off notificationbtn" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#resetPassword">Reset Password</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#accountSetting">Accout setting</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>    
                        </ul>
                </li>
                
              </ul>
              <form class="navbar-form navbar-right hidden-sm">
                <div class="form-group">
                  <i class="icon ion-android-search"></i>
                  <input type="text" class="form-control" routerlink="search-result" placeholder="Search friends, photos, videos">
                </div>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>
      </header>
      <!--Header End-->
   <!-- Modal reset password-->
 <div class="modal fade" id="resetPassword" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reset Password</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="usr">Old Password</label>
                <input type="password" class="form-control" id="OldPassword" placeholder="Enter your old password" required>
              </div>
              <div class="form-group">
                  <label for="usr">New Password</label>
                  <input type="password" class="form-control" id="NewPassword" placeholder="Enter your new password">
                </div>
                <div class="form-group">
                    <label for="usr">Conform Password</label>
                    <input type="password" class="form-control" id="NewConformPassword" placeholder="Enter new password">
                  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" >Submit</button>
        </div>
      </div>
      
    </div>
  </div>
  
 <!-- Modal Account setting-->
 <div class="modal fade" id="accountSetting" role="dialog">
    <div class="modal-dialog  modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><i class="fa fa-cog"></i> Setting</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
                <h4>Profile Image</h4>
            </div>
            <div class="col-md-4">
              <div class="col-md-12" style="border:1px solid black;height:200px;">
              </div>
            </div>
            <div class="col-md-8">
              <p><b>Email :</b></p>
              <p><b>Mobile Number :</b></p>
              <p><b>District :</b></p>
              <p><b>Municipality/Panchayath :</b></p>
              <p><b>Ward Name :</b></p>
              <p><b>Ward Number :</b></p>
            </div>
            <div id="demo" class="collapse">
            <div class="col-md-6">
            <div class="form-group">
                <label for="usr">Email:</label>
                <input type="email" class="form-control" id="UserEmail" placeholder="Enter your email id">
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
              <label for="usr">Mobile Number</label>
                <input type="text" class="form-control" id="UserNumber" placeholder="Enter your mobile number">
              </div>
              </div>
              <div class="col-md-6">
             <div class="form-group">
                <label for="usr">District</label>
                <input type="text" class="form-control" id="UserDistrict" placeholder="Enter your District">
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
                <label for="usr">Municipality/Panchayath</label>
                <input type="text" class="form-control" id="UserMunicipality" placeholder="Enter your Municipality/Panchayath">
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
                <label for="usr">Ward Name</label>
                <input type="text" class="form-control" id="UserWardName" placeholder="Enter your Ward Name">
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
                <label for="usr">Ward Number</label>
                <input type="text" class="form-control" id="UserNumber" placeholder="Enter your Ward Number">
              </div>
              </div>
              <div class="col-md-12">
                  <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Submit</button>
              </div>
            </div>
            </div>  
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Edit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
