<div id="page-contents">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
      <!-- Post Create Box
      ================================================= -->
      <div class="create-post">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h4>You don't have any Ads Updates.  </h4>  
            </div>
          <div class="col-md-4 col-sm-4">
              <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#imageModal">Create Ads</button>
          </div>
        </div>
      </div><!-- Post Create Box End-->

      <!-- Post Content
      ================================================= -->
      <div class="row">
        <div class="col-md-6">
          <div class="post-contentmanual">
            
                    <!--Post Date
                    <div class="post-date hidden-xs hidden-sm">
                      <h5>Sarah</h5>
                      <p class="text-grey">Sometimes ago</p>
                    </div>Post Date End-->
            
                    <img src="http://placehold.it/1920x1280" alt="post-image" class="img-responsive post-image" />
                    <div class="post-container">
                      <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left" />
                      <div class="post-detail">
                        <div class="user-info">
                          <h5><a href="timeline.html" class="profile-link">Sarah Cruiz</a> <span class="following">following</span></h5>
                          <p class="text-muted">Published a photo about 15 mins ago</p>
                        </div>
                        <div class="reaction">
                          <!--<a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                          <a class="btn btn-default"><i class="fa fa-share-alt"></i> Share</a>-->
                        </div>
                        <div class="line-divider"></div>
                        <div class="post-text">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
        <div class="col-md-6">
          <div class="  post-contentmanual">
            
                    <!--Post Date
                    <div class="post-date hidden-xs hidden-sm">
                      <h5>Sarah</h5>
                      <p class="text-grey">Sometimes ago</p>
                    </div>Post Date End-->
            
                    <img src="http://placehold.it/1920x1280" alt="post-image" class="img-responsive post-image" />
                    <div class="post-container">
                      <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left" />
                      <div class="post-detail">
                        <div class="user-info">
                          <h5><a href="timeline.html" class="profile-link">Sarah Cruiz</a> <span class="following">following</span></h5>
                          <p class="text-muted">Published a photo about 15 mins ago</p>
                        </div>
                        <div class="reaction">
                          <!--<a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                          <a class="btn btn-default"><i class="fa fa-share-alt"></i> Share</a>-->
                        </div>
                        <div class="line-divider"></div>
                        <div class="post-text">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
      </div>
    

      <!-- Post Content
      ================================================= -->
   

      <!-- Post Content
      ================================================= -->
      

    </div>
    <div class="col-md-2 static">
      <div id="sticky-sidebar">
        <h4 class="grey">Sarah's activity</h4>
        <div class="feed-item">
          <div class="live-activity">
            <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
            <p class="text-muted">5 mins ago</p>
          </div>
        </div>
        <div class="feed-item">
          <div class="live-activity">
            <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
            <p class="text-muted">an hour ago</p>
          </div>
        </div>
        <div class="feed-item">
          <div class="live-activity">
            <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
            <p class="text-muted">4 hours ago</p>
          </div>
        </div>
        <div class="feed-item">
          <div class="live-activity">
            <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
            <p class="text-muted">a day ago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Ad</h4>
        </div>
        <form>
        <div class="modal-body">
            <textarea name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
            <br>
            <button type="button" class="btn btn-info">Upload Image</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Publish post</button>
        </div>
      </form>
      </div>
      
    </div>
  </div>
